---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>
    <Header></Header>
    <div class="contatti_div">
        <h2>Contatti</h2>
        <div class="icone_div">
            <a href="https://www.instagram.com/">
                <img src="/instagram.png" alt="instagram_icon">
            </a>
            <a href="https://www.threads.com/@moro.nicola">
                <img src="/threads.png" alt="threads_icon">
            </a>
            <a href="https://www.reddit.com/user/NicolaM1994/">
                <img src="/reddit.png" alt="reddit_icon">
            </a>
            <a href="https://medium.com/@nicola.moro2312">
                <img src="/medium.png" alt="medium_icon">
            </a>
        </div>
        <p>Oppure inviami una mail</p>
        <a href="mailto:nicola.moro2312@gmail.com">
            <img src="/mail.png" alt="mail_icon">
        </a>
        <p>Ogni messaggio è super apprezzato!</p>
    </div>
</Layout>

<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    
    .contatti_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Roboto Mono";
    }
    .icone_div {
        display: flex;
        flex-direction: row;
        width: 20%;
        align-items: center;
        justify-content: space-between;
    }

</style>