---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Progetti</h1>
        <p>Una carrellata dei progetti personali su cui ho lavorato o ancora in lavorazione.</p>
    </div>
</Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

    h1, h2, h4, p, a {
        font-family: 'Roboto Mono';
    }

</style>