<div class="footer_container">
    <div class="footer_text">
        <p>Made ♥️ with by Nicola Moro.</p>
        <p>Contenuto fornito con il gentile supporto di ButterCMS. Icons by <a href="https://icons8.com/">Icons8</a></p>
        <p>Tutti i diritti relativi e derivanti dal sito sono riservati.</p>
    </div>
    <img id="butterlogo" src="/butter-y.png" style="width: 25%;"  alt="">
</div>

<style>
    p, img, a {
        margin: 0;
        font-size: 12px;
    }

    .footer_container {
        padding-top: 50px;
        position: relative;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .footer_text {
        text-align: right;
    }
</style>
