<div class="home_container">
    <p>Ciao! 👋</p>
    <h2>Mi chiamo Nicola</h2>
    <h4>Software engeneering e sviluppo</h4>
    <p>> Sono uno studente di Informatica all'Università degli Studi di Verona, dove ho anche studiato Economia conseguendo la mia 
        prima laurea.</p>
    <p>> I miei interessi principali sono la matematica, la logica, gli algoritmi e l'ingegneria del software.</p>
    <p>> Nel tempo libero suono, ascolto (davvero troppa...) musica, leggo, cerco di far sopravvivere il mio mago in Dungeons&Dragons
        e mi abbuffo di sushi quando non riesco nell'impresa.
    </p>
    <p>> Dai un'occhiata al mio blog o ai progetti su cui ho lavorato/ sto lavorando e contattami per lasciare feedback se trovi qualcosa
        di tuo interesse. Mi trovi anche su <a href="https://medium.com/@nicola.moro2312">Medium</a>, dove scrivo i miei articoli in inglese.
    </p>
    <div>
        <a href="https://medium.com/@nicola.moro2312">
            <img style="width: 10%; height=10%" src="/mediumlogo.jpg" alt="mediumlogo">
        </a>
        <a href="https://projecteuler.net/progress=NicolaM94">
            <img src="https://projecteuler.net/profile/NicolaM94.png" alt="">
        </a>
    </div>
</div>

<style>
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
    
    .home_container {
        padding: 25px;
    }
    h2 {
        font-size: 4pc;
        line-height: 0;
        font-family: "Roboto Mono";
    }
    h4 {
        font-family: "Roboto Mono";
        font-size: 1.5pc;
        line-height: 1;
    }
    p {
        font-family: "Roboto Mono";
    }
    a {
        text-decoration: none;
        font-family: "Roboto Mono";
        color: rgb(60, 190, 130);
        font-weight: bold;
    }
</style>