
<div class="header">
    <h1>n-bit.it</h1>
    <h4>A cura di Nicola Moro</h4>
</div>



<!-- CSS --->

<style>
    .h1 {
        line-height: 1.5;
        padding: 0%;
    }
    .header  {
        margin: auto;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        align-items: center;
        background-color: rebeccapurple;
        color: red;
        
    }
</style>